<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="board">
  
  <resultMap type="" id="">
  <id column="lesson_id" property="no"/>
  <result column="conts" property="contents"/>
  </resultMap>
  
  <select id="insert" resultType="ch26.a.Board">
    select * from x_board
  
  </select>
  
  </mapper> 
   